body {
  background-color: #DAEDFF;
  color: black;
  font-family: sans-serif;
}

#creds {
  text-align: right;
  font-size: 8pt;
  opacity: 0.2;
  margin: 4px;
  margin-top: 72px;
  text-align: center;
}

#grid-show {
  display: block;
  margin: 48px auto;
  font-size: 18px;
  border: 0px;
  border-radius: 8px;
  padding: 20px 40px;
  background-color: #31a2e9;
}

.border {
  border: 2px solid #FDFFF0;
  border-radius: 8px;
}

.noselect {
  user-select: none;
}
