body {
  background-color: #0f0320;
  color: #f2f2f2;
  font-family: sans-serif;
}

#creds {
  text-align: right;
  font-size: 8pt;
  opacity: 0.2;
  margin: 4px;
}

.home {
  h2 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  margin: 0 auto;
  width: 341px;
  &-lettersetter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 24px 0;
    input {
      width: 32px;
      height: 36px;
      font-size: 32px;
      display: block;
      text-align: center;
      border: none;
      &:nth-child(7) {
        background-color: #e3d03c;
      }
    }
  }

  #create-game {
    border: 0px;
    border-radius: 24px;
    height: 72px;
    width: 80%;
    display: block;
    margin: 0 auto;
    font-size: 32px;
    background-color: #31a2e9;
    cursor: pointer;
    &:hover {
      background-color: #1182ce;
    }
  }
}

.border {
  border: 2px solid #ffffff11;
  border-radius: 8px;
}

.game {
  width: 800px;
  margin: 0 auto;
  &-word-container {
    margin: 24px 0;
    padding: 24px;
    position: relative;

    .profile-container {
      position: absolute;
      top: 8px;
      right: 8px;
      height: 33px;
      width: 33px;
      font-size: 20px;
      p {
        margin: 0;
        padding: 2px;
        text-align: center;
        border-radius: 4px;
      }
    }

    p.game-word-entry {
      color: #f1f1f1ee;
      font-size: 37px;
      text-align: center; 
      margin: 0 0 24px 0;

      // keep the p at full height even when empty
      &:after {
        content: " ";
        font-size: 0;
        white-space: pre;
      }

      .golden {
        color: #e3d03c;
      }

      .gray {
        color: #ffffff60
      }

      #cursor {
        display: inline-block;
        width: 2px;
        height: 26px;
        background-color: #f1f1f1ee;
        margin-left: 4px;
        animation: blink-animation 800ms steps(2,start) infinite;

        @keyframes blink-animation {
          to {
            visibility: hidden;
          }
        }
      }
    }
    p.game-error {
      color: red;
      text-align:  center;
    }
  }
  &-button-container {
    height: 48px;
    text-align: center;
    button {
      border: 0;
      height: 100%;
      font-size: 18px;
      padding: 8px 24px;
      color: white;
      cursor: pointer;
      &:nth-child(1) {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        background-color: #cc0802
      }
      &:nth-child(2) {
        background-color: #a102b3
      }
      &:nth-child(3) {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        background-color: #09a106
      }
      &:hover {
        opacity: 0.8
      }
      &:active {
        opacity: 0.7
      }
    }
  }
  &-main-content {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    &-wordlist {
      padding: 8px;

      p {
        padding: 0;
        margin: 8px;

        &.pangram {
          font-weight: bold;
        }
      }
    }
  }
}
