body {
  background-color: #0f0320;
  color: #f2f2f2;
  font-family: sans-serif;
}

#creds {
  text-align: right;
  font-size: 8pt;
  opacity: 0.2;
  margin: 4px;
  margin-top: 72px;
  text-align: center;
}

#grid-show {
  display: block;
  margin: 48px auto;
  font-size: 18px;
  border: 0px;
  border-radius: 8px;
  padding: 12px 24px;
}

.border {
  border: 2px solid #ffffff11;
  border-radius: 8px;
}

.noselect {
  user-select: none;
}
